.socialsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  width: 100px;
  height: 35px;
  font-weight: bold;
}

.socialsButton:hover {
  background: white;
  color: black;
  transition: 300ms;
}
